<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">About</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>This is a showcase application powered by <a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a> & <a href="https://angular.io/" target="_blank">Angular</a>.</li>
                            <li>You can find source code on GitHub: <a href="https://github.com/naglm/courses">https://github.com/naglm/courses</a></li>
                            <li>Design by <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>