<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Students</h4>
                        <p class="card-category">Students who bravely registered in this great application. We are still not sure why they did.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Registered</th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of students">
                                        <td><i class="material-icons">person</i></td>
                                        <td>{{ student.id }}</td>
                                        <td>{{ student.firstName }} {{ student.lastName }}</td>
                                        <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>Showing rows  {{ showingFrom }} - {{ showingTo }} of {{ totalElements }}</div>
                            <div><a routerLink="/students/edit">Add</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
